<h2>Loose Ends</h2>
<% @items.each do |part| %>
  <h3><%= h(part[:header]) %></h3>
  <div id="content">
    <% part[:codos].each do |codo| %>
      <h4><%= h(codo.name) %></h4>
      <li><%= h(codo.path) %></li>
      <li><%= h(codo.docstring) %></li>
      <li><%= h(codo.docstring) %></li>
      <li><%= link_object(codo, codo.title, nil, false) %></li>
    <% end %>
  </div>
<% end %>


